body {
  background-color: #06011E;
}

/* Stile per la freccia */
.back-arrow {
  position: absolute; /* Posiziona la freccia in modo assoluto */
  top: 20px; /* Spazio dal bordo superiore */
  left: 20px; /* Spazio dal bordo sinistro */
  text-decoration: none; /* Rimuove la sottolineatura */
  font-size: 2rem; /* Dimensione del carattere */
  color: #F8FFB8; /* Colore della freccia */
  transition: transform 0.3s ease; /* Effetti di transizione */
}

/* Effetto hover per la freccia */
.back-arrow:hover {
  transform: scale(1.3); /* Leggero ingrandimento */
}
