/* File CSS che definisce lo stile degli elementi da visualizzare all'interno dell'index */

/* Overlay per scurire il canvas */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(6, 1, 30, 0.7);
    z-index: -1;
}

/* Stile della pagina Home */
body.home {
    background-image: url('logo/indexsfondo.jpg');  /*immagine di sfondo */
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    color: #F8FFB8;
    display: flex;
    background-size: 150%;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

/* Sezione contenente il logo e il pulsante */
.home-container {
  display: flex; /* Usa flexbox */
  flex-direction: column; /* Allinea gli elementi in colonna */
  align-items: center; /* Centra gli elementi orizzontalmente */
  justify-content: center; /* Centra gli elementi verticalmente (se necessario) */
  text-align: center; /* Centra il testo */
  width: 100%; /* Imposta la larghezza al 100% */
}

/* Stile del logo */
.logo {
  width: 40%; /* Imposta la larghezza del logo */
  height: auto; /* Mantieni l'aspetto corretto del logo */
  margin-bottom: 2vh; /* Distanza tra il logo e il testo */
}

/* Stile del testo */
.subtitle {
  font-size: 2.1vw; /* Dimensione del testo */
  color: #F8FFB8; /* Colore del testo */
  margin-bottom: 2vh; /* Spaziatura sotto la scritta */
  margin-left: 0.5vw; /* Allinea il testo al logo */
  font-weight: 300; /* Peso del font leggero */
  text-align: center; /* Allinea il testo al centro */
  padding-top: 2vh; /* Aggiungi spazio sopra la scritta */
}



/* Stile del pulsante */
button {
  background-color: #06011E;
  color: #F8FFB8;
  border: 0.2vw solid #F8FFB8; 
  border-radius: 1vw;
  padding: 1vw 3vw;
  font-size: 1.2vw; 
  cursor: pointer; /* Cambia il cursore */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiunge l'animazione */
  margin-top: 4vw; /* spazio sopra al pulsante */
  display: block; /* Rende il pulsante un blocco (elimina il margine sinistro) */
  margin-left: auto; /* Allinea il margine sinistro automaticamente */
  margin-right: auto; /* Allinea il margine destro automaticamente */
}


/* Effetto hover sul pulsante */
button:hover {
    transform: scale(1.1); /* Effetto ingrandimento */
    box-shadow: 0 0 1vw #F8FFB8; /* Illumina il bottone al passaggio del mouse */
}

/* Effetto clic sul pulsante */
button:active {
    box-shadow: 0 0 1.5vw #F8FFB8; /* Illumina il bottone */
    transform: scale(1.05); /* Leggero rimpicciolimento durante il clic */
}

      @keyframes zoomAndFade {
        0% {
          background-size: 120%; /* Partenza dallo zoom iniziale più grande */
          opacity: 1;
        }
        100% {
          background-size: 3000%; /* Zoom finale più intenso */
          opacity: 0.2;
        }
      }
    
      body.zoom-animation {
        animation: zoomAndFade 1s ease-in-out forwards;
      }

      .hide-elements {
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }