/* File CSS che definisce lo stile degli elementi da visualizzare all'interno dell'index */

/* Overlay per scurire il canvas */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(6, 1, 30, 0.7);
    z-index: -1;
}

/* Stile della pagina Home */
body.home {
    background-image: url('logo/indexsfondo.jpg');  /*immagine di sfondo */
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    color: #F8FFB8;
    display: flex;
    background-size: 150%;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0; 
}

/* Sezione contenente il logo e il pulsante */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
    position: relative; 
    z-index: 1;
}

/* Stile del logo */
.logo {
    width: 40%;
    height: auto;
    margin-bottom: 2vh;
}

/* Stile del pulsante */
button {
    background-color: #06011E;
    color: #F8FFB8;
    border: 0.2vw solid #F8FFB8; 
    border-radius: 1vw;
    padding: 1vw 3vw;
    font-size: 1.2vw; 
    cursor: pointer; /* Cambia il cursore */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiunge l'animazione */
    margin-left: 11vw;
}

/* Effetto hover sul pulsante */
button:hover {
    transform: scale(1.1); /* Effetto ingrandimento */
    box-shadow: 0 0 1vw #F8FFB8; /* Illumina il bottone al passaggio del mouse */
}

/* Effetto clic sul pulsante */
button:active {
    box-shadow: 0 0 1.5vw #F8FFB8; /* Illumina il bottone */
    transform: scale(1.05); /* Leggero rimpicciolimento durante il clic */
}

      @keyframes zoomAndFade {
        0% {
          background-size: 120%; /* Partenza dallo zoom iniziale più grande */
          opacity: 1;
        }
        100% {
          background-size: 3000%; /* Zoom finale più intenso */
          opacity: 0.2;
        }
      }
    
      body.zoom-animation {
        animation: zoomAndFade 1s ease-in-out forwards;
      }

      .hide-elements {
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }