/* Centrare il contenuto di .intro-box */
.intro-box {
  font-size: 0.9em;
  line-height: 1.6em;
  letter-spacing: 0.02em;
  color: #F8FFB8; /* Colore giallo */
  margin-bottom: 5%;
  margin-top: 2%;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;  /* Centrato orizzontalmente */
}

/* Centrare il contenuto di .center-box */
.center-box {
  width: 30%;
  max-width: 600px;
  padding: 2%;
  margin: 0 auto;  /* Centra orizzontalmente */
  margin-bottom: 10%; /* Spazio extra sotto il box */
  backdrop-filter: blur(10px);
  border: 2px solid #F8FFB8;
  box-shadow: 0 0 25px rgba(248, 255, 184, 0.7);
  border-radius: 15px;
  position: relative; /* Necessario per posizionare le frecce all'interno */
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente */
  flex-direction: column;
}

/* Centrare il contenuto dello swiper */
.swiper-container {
  width: 100%;
  padding: 5% 0; /* Ridotto padding */
  position: relative;
  margin-bottom: 10px; /* Spazio sotto il contenitore Swiper */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slide della galleria */
.swiper-slide {
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  word-wrap: break-word;
  line-height: 1.5em;
  color: #F8FFB890;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  padding-bottom: 7%;
}

.swiper-slide-active {
  opacity: 1 !important;
  z-index: 1;
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0 !important;
}

/* Bottoni di navigazione dello swiper */
.swiper-button-prev-small, .swiper-button-next-small {
  position: absolute;
  bottom: 10px; /* Posiziona le frecce in basso */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.8em;
  color: #F8FFB8;
  opacity: 0.8;
  transition: all 0.3s ease;
  z-index: 10; /* Sopra le slide */
}

/* Freccia sinistra */
.swiper-button-prev-small {
  left: 10px; /* Posiziona a sinistra */
}

/* Freccia destra */
.swiper-button-next-small {
  right: 10px; /* Posiziona a destra */
}

/* Hover Effect */
.swiper-button-prev-small:hover, .swiper-button-next-small:hover {
  opacity: 1;
  transform: scale(1.3);
}

/* Highlight per categorie */
.highlight {
  color: #F8FFB8; /* Dark yellow (Goldenrod) */
  font-weight: 500;
}

/* Common styles for categories */
.category {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 10%;
}

/* Colors for each category */
.economic-rights {
  color: #C48020; /* Gold */
}

.freedom-justice {
  color: #87538F; /* Deep Sky Blue */
}

.general-violence {
  color:#6969B7; /* Orange Red */
}

.social-rights {
  color: #B76263; /* Lime Green */
}

/* Stile del numero di slide */
.swiper-pagination {
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Baskerville', serif;
  font-size: 1em; /* Dimensione del testo */
  color: #F8FFB8;
  width: 100%;
}

.swiper-pagination span {
  display: inline-block;
  background-color: transparent; /* Sfondo trasparente */
  font-size: 0.9em; /* Dimensione leggermente ridotta */
  color: #F8FFB8;
  margin-top: 10px; /* Distanza dal contenuto */
}

