/* Importazione del font personalizzato */
@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/LibreBaskervilleRegular.ttf') format('truetype');
}

/* Footer */
.footer {
  text-align: center;
  padding: 2% 0;
  font-size: 0.6vw;
  color: #F8FFB8;
}

/* Reset per tutti i link (opzionale, per sicurezza) */
a {
  text-decoration: none !important;
}

/* Intro box */
.intro-box {
  font-size: 0.9em;
  line-height: 1.6em;
  letter-spacing: 0.02em;
  color: #F8FFB8; /* Colore giallo */
  margin-bottom: 5%;
  margin-top: 2%;
  text-align: center;
  width: 45%;
  margin-left: auto;
  margin-right: auto;  /* Centrato orizzontalmente */
}

/* Centrare il contenuto di .center-box */
.center-box {
  width: 40%;
  padding: 4%;
  margin: 0 auto;  /* Centra orizzontalmente */
  margin-bottom: 10%; /* Spazio extra sotto il box */
  backdrop-filter: blur(10px);
  border: 2px solid #F8FFB8;
  box-shadow: 0 0 25px rgba(248, 255, 184, 0.7);
  border-radius: 15px;
  position: relative; /* Necessario per posizionare le frecce all'interno */
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente */
  flex-direction: column;
}

/* Centrare il contenuto dello swiper */
.swiper-container {
  width: 80%;
  padding: 10%; /* Ridotto padding */
  position: relative;
  margin-bottom: 2%; /* Spazio sotto il contenitore Swiper */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slide della galleria */
.swiper-slide {
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  word-wrap: break-word;
  line-height: 1.5em;
  color: #F8FFB890;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  padding-bottom: 7%;
  position: relative; /* Necessario per posizionare gli elementi figli in modo assoluto */
}

.swiper-slide-active {
  opacity: 1 !important;
  z-index: 1;
}

.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0 !important;
}

/* Bottoni di navigazione dello swiper */
.swiper-button-prev-small, .swiper-button-next-small {
  position: absolute;
  top: 50%; /* Posiziona verticalmente al centro */
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.8em;
  color: #F8FFB8;
  opacity: 0.8;
  transition: all 0.3s ease;
  z-index: 10; /* Sopra le slide */
  padding: 10px; /* Distanza dal bordo della freccia */
}

/* Freccia sinistra */
.swiper-button-prev-small {
  left: -120px; /* Posiziona a sinistra fuori dal box */
}

/* Freccia destra */
.swiper-button-next-small {
  right: -120px; /* Posiziona a destra fuori dal box */
}

/* Hover Effect - Bagliore direttamente sul contorno della freccia */
.swiper-button-prev-small:hover, .swiper-button-next-small:hover {
  opacity: 1;
  filter: drop-shadow(0 0 15px #F8FFB8) drop-shadow(0 0 20px #F8FFB8) drop-shadow(0 0 35px #F8FFB8); /* Effetto di bagliore più forte e intenso */
  transition: filter 0.3s ease;
}

/* Highlight per categorie */
.highlight {
  color: #F8FFB8; /* Dark yellow (Goldenrod) */
  font-weight: 500;
}

/* Common styles for categories */
.category {
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  position: fixed; /* Posizione assoluta all'interno della slide */
  top: 200px; /* Posiziona la categoria sopra il numero di paginazione */
  left: 50%; /* Centra il testo orizzontalmente */
  transform: translateX(-50%); /* Centra il testo */
  color: inherit; /* Mantiene il colore specifico della categoria */
  margin: 0; /* Rimuove eventuali spazi inutili */
  padding: 0; /* Rimuove eventuali spazi inutili */
  z-index: 5; /* Assicura che la categoria sia sopra il resto del contenuto della slide */
}


/* Colors for each category */
.economic-rights {
  color: #C48020; /* Gold */
}

.freedom-justice {
  color: #87538F; /* Deep Sky Blue */
}

.general-violence {
  color:#6969B7; /* Orange Red */
}

.social-rights {
  color: #B76263; /* Lime Green */
}

/* Stile del numero di slide */
.swiper-pagination {
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Baskerville', serif;
  font-size: 1em; /* Dimensione del testo */
  color: #F8FFB8;
  width: 100%;
  bottom: 10px; /* Posiziona il numero di paginazione sopra la base della slide */
}

.swiper-pagination span {
  display: inline-block;
  background-color: transparent; /* Sfondo trasparente */
  font-size: 0.9em; /* Dimensione leggermente ridotta */
  color: #F8FFB8;
  margin-top: 10px; /* Distanza dal contenuto */
}
